/* Global CSS */
.App {
  text-align: center;
}

*{
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

/* Body CSS */
.App-body {
  display: flex;
  justify-content: space-around;
  background-color: #2B2826;
  height: 85vh;
}

.App-description {
  width: 40%;
  text-align: center;
  position: relative;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 10px 30px 10px;
  color: white;
}

.card { 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2B2826;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex: 1;
  transition: all 0.1s ease;
  overflow: hidden;
}

.inner-card {
  position: absolute;
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
  background-color: #2B2826; 
  border-radius: 8px; 
  padding: 20px;
  z-index: 1; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
  font-size: 1em;
}

@media (max-width: 1200px) {
  .inner-card {
    font-size: 0.9em;
  }
}

@media (max-width: 1100px) {
  .inner-card {
    font-size: 0.7em;
  }
}

@media (max-width: 800px) {
  .inner-card {
    font-size: 0.6em;
  }
}

@media (max-width: 600px) {
  .inner-card {
    font-size: 0.5em;
  }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.card::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    #00E6F6 45%,
    #FF013C 55%
  );
  height: 1000px;
  width: 1000px;
  position: absolute;
  animation: rotate 10s linear infinite;
  z-index: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-login {
  width: 60%;
  text-align: center;
  
  padding: 10px 10px 10px 10px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  background-color: #2B2826; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-section, .signup-section {
  margin-bottom: 30px;
}

.login-section h1, .signup-section h1 {
  margin-bottom: 10px; 
}

form .form-group {
  margin-bottom: 15px; 
  color: white;
}

form label {
  display: block; 
  margin-bottom: 5px; 
}

/* Button CSS */
.button-49,
.button-49:after {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 100px;
    height: 50px;
    line-height: 15px;
  }
}